<!DOCTYPE html>
<html>
<head>
    <link href="../Content/Styles/Views/_Smashing.min.css" rel="stylesheet" />
    <title>Smashing</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <h1>Smashing HTML5!</h1>
            <h2>HTML5 in the year <strike>2022</strike> 2009</h2>
        </header>

        <ul class="navbar">
            <li class="active"><a href="#home">home</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="#blog">blog</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>

        <!-- Featured Article -->
        <div class="card">
            <article class="featured">
                <h3>Featured Article</h3>
                <h4>
                    <a href="#">HTML5 in Smashing Magazine!</a>
                </h4>
                <p>
                    Discover how to use Graceful Degradation and Progressive<br />
                    Enhancement techniques to achieve an outstanding, cross-<br />
                    browser <a href="#">HTML5</a> and <a href="#">CSS3</a> website today!
                </p>
                <img src="../Content/Images/sm-logo.gif" />
            </article>


        </div>

        <!--Center area-->
        <div class="card">
            <article class="story">
                <div class="author">
                    <p class="underline">10th October 2005</p>
                    <p>By   <a href="#">Enrique Ramirez</a></p>
                </div>
                <div class="post">
                    <h4>This be the title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectuetur adipiscing elit. Quisque Venenatis nunc vitae
                        libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                        malesuada tellus.
                    </p>
                </div>
            </article>
            <article class="story">
                <div class="author">
                    <p class="underline">10th October 2005</p>
                    <p>By   <a href="#">Enrique Ramirez</a></p>
                </div>
                <div class="post">
                    <h4>This be the title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectuetur adipiscing elit. Quisque Venenatis nunc vitae
                        libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                        malesuada tellus.
                    </p>
                </div>
            </article>
            <article class="story">
                <div class="author">
                    <p class="underline">10th October 2005</p>
                    <p>By   <a href="#">Enrique Ramirez</a></p>
                </div>
                <div class="post">
                    <h4>This be the title</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectuetur adipiscing elit. Quisque Venenatis nunc vitae
                        libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                        malesuada tellus.
                    </p>
                </div>
            </article>
        </div>
        <!--resource links-->
        <div>
            <div>
                <h4>blogroll</h4>
                <ol class="blogroll">
                    <li><a href="#">HTML5 Doctor</a></li>
                    <li><a href="#">HTML5 Spec (working draft)</a></li>
                    <li><a href="#">Smashing Magazine</a></li>
                    <li><a href="#">W3C</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Wikipedia</a></li>
                    <li><a href="#">HTML5 Doctor</a></li>
                    <li><a href="#">HTML5 Spec (working draft)</a></li>
                    <li><a href="#">Smashing Magazine</a></li>
                    <li><a href="#">W3C</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Wikipedia</a></li>
                    <li><a href="#">HTML5 Doctor</a></li>
                    <li><a href="#">HTML5 Spec (working draft)</a></li>
                    <li><a href="#">Smashing Magazine</a></li>
                    <li><a href="#">W3C</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Wikipedia</a></li>
                </ol>
            </div>
            <div>
                <h4>social</h4>
                <ul>
                    <li><a href="#">delicious</a></li>
                    <li><a href="#">digg</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">last.fm</a></li>
                    <li><a href="#">rss</a></li>
                    <li><a href="#">twitter</a></li>
                </ul>
            </div>
        </div>
        <!--Smashing Magazine-->
        <div class="card">
            <div>
                <h6>Smashing Magazine</h6>
                <p>Amazing Magazine</p>
            </div>
            <div>
                <a href="https://www.smashingmagazine.com/wp-content/uploads/images/smashing-html5/files/images/avatar.gif"></a>
            </div>
            <p>
                Smashing Magazine is a website and blog that offers resources and advice to we developers
                and web designers. It was founded by Sven Lennartz and Vitaly Friedman.
            </p>
        </div>
        <div>
            <footer>2005-2009 Smashing Magazine.</footer>
        </div>
    </div>

</body>
</html>
